body{
    color: red;
    background-color: black;
}
button{
    border: 2px solid red;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
}
select option{
    border: 2p solid rgb(31, 204, 0);
}
button:hover{
    color: red;
    background-color: black;
    margin: 8px;
    padding: 2px 5px;
}